extends layout

block content
  div.base-background-colour
    div.container
      div.row
        h2.white-colour.col-lg-2 User portal
        a(href="/portal/edit").btn.btn-default.col-lg-2.col-lg-offset-1.portal-header-btn Edit your information
        a(href="/workstation/setup").btn.btn-default.col-lg-2.col-lg-offset-1.portal-header-btn  Create a new arrangement
        a(href="/signout").btn.btn-default.col-lg-2.col-lg-offset-1.portal-header-btn  Logout
  div.light-grey-background-colour
    h3.no-margin.portal-user-names Hello #{firstName} #{lastName}
    if userTracks.length > 0
        h4.no-margin.portal-user-names Your arrangements:
        div.container
          div.row
            table.col-lg-12
              tr
                th Name of track
                th BPM of track
                th
              for track in userTracks
                tr
                  td
                    a(href="/workstation/arrangement/#{track.id}")
                      p #{track.name}
                  td
                    a(href="/workstation/arrangement/#{track.id}")
                      if track.bpm
                        p #{track.bpm}
                      else
                        p -
                  td
                    form.delete-arrangement-form(action='/portal/#{track.id}/delete', method='POST')
                       a.delete-arrangement-a Delete

    else
        h4.no-margin.portal-user-names No arrangements yet!
          br
          | Click 'Create a new arrangement' to get started!

  div(id='dialog-confirm', title="Are you sure?", hidden="hidden")
    p Deleting an arrangement is perminant, are you sure want to?

  script(src="http://code.jquery.com/jquery-1.11.1.min.js")
  script(src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js")
  link(href='https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css', rel='stylesheet')

  script.
    $(document).ready(function() {
      var dialog;
      var parentForm;
      dialog = $("#dialog-confirm").dialog({
        autoOpen: false,
        resizable: false,
        height: "auto",
        width: 400,
        modal: true,
        buttons: {
          "Delete Arrangement": function() {
              parentForm.submit();
          },
          Cancel: function() {
            $(this).dialog("close");
          }
        }
      });

      $(".delete-arrangement-a").click(function() {
         parentForm = $(this).parent();
         dialog.dialog('open');
      });
    });
